*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
.fixed-left{
    width: 23.7%;
    border: 2px solid red;
    left: 0;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 13.2%;


}
.body{
    width:69.8%;
margin-left: 23.7%;
border: 2px solid goldenrod;
height: 600vh;
}
.logo{
    /* border: 1px solid green; */
    display: block;
    width: 28%;
    height:5vh; 
    margin-left: 27.2%;
    text-align: center;
    margin-top: 27px;
}
h1{
   
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
    display: block;
    
}
.navbar{
    border: 2px solid greenyellow;
    height:48%;
    width: 80%;
    margin-left: 20%;
    margin-top: 1.8px;

}
ul{
    display: block;
    list-style-type: none;
     font-family: 'Roboto',sans-serif;
     font-size: 18px;
     font-weight: bolder;
     border: 1px solid royalblue;

}
li{
padding:10.6px 19px ;
color: #757575;
}
li:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.jeans{
    color: #000;
}
.header{
    border: 1px solid pink;
    width: 100%;
    height: 12.4vh;
    display: flex;
    flex-direction: row;
    gap: 80%;
}
h2{
    font-weight: lighter;
    font-size: 24px;
    border: 1px solid burlywood;
    display:inline-block;
    height:50%;
    margin-top: 23px;
    margin-left: 15px;
}

.div{
    border: 1px solid brown;
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: row;
    margin-top: 25px;    
    margin-left: 35px;
    gap: 23px;
}

.banner{
    border: 1px solid black;
    width: 100%;
    height: 94.3vh;
    margin-top: 2px;
}
img{
    width:98.2%;
    margin-left: 2%;
    height:100%;
}
h3{
    display: inline-block;
    border: 1px solid black;
    margin:15px 0;
}
.word{
    display: block;
    position: relative;
    border:2px solid#da2828;
    height: 35vh;
    z-index: 1;
    width: 60%;
    margin-left:46px;
    margin-top: -575.5px;
    letter-spacing: 0;
}
.new{
    font-size: 64px;
    display: inline-block;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
letter-spacing: 0;
}
.col{
    display: block;
    font-size: 36px;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding-top: 25px;
    
    font-weight: lighter;
    letter-spacing: 0;
}
.button{
    margin:18px;
    height: 8vh;
    width: 28%;
    margin-left: 0;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: white;
    border: #000 solid;
}
.other-info{
    border: 1px solid darkred;
    width: 80%;
    margin-left: 20.7%;
    margin-top:-30px;
    height: 20vh; 
}
.other{
    display: block;
    font-weight: lighter;
    padding-bottom: 30px;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    color: #000;
}
.other>li{
    color: #000;
}
h5{
    border: 1px solid green;
    padding: 13px;
}